<div class="main-div">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="sidenav" mode="side">
            <app-sidenav></app-sidenav>
        </mat-sidenav>

        <mat-sidenav-content style="flex: 1; display: flex; flex-direction: column;">
            <div style="flex: 1; display: flex; flex-direction: column;">
                <mat-toolbar style="background-color: white;">
                    <button mat-icon-button (click)="onMenuClick()">
                        <i class="material-icons">menu</i>
                    </button>

                    Gagagigo

                </mat-toolbar>
                <div style="flex: 1;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>