<div class="main-div">
    <mat-sidenav-container>
        <mat-sidenav #sidenav class="sidenav" mode="side" opened>
          <app-sidenav></app-sidenav>
        </mat-sidenav>
      
        <mat-sidenav-content>
          
            <mat-toolbar style="background-color: white;">
              <button mat-icon-button (click)="onMenuClick()">
                  <i class="material-icons">menu</i>
              </button>

              Gagagigo

            </mat-toolbar>
            <router-outlet style="flex: 1;"></router-outlet>

        </mat-sidenav-content>
      
      </mat-sidenav-container>
</div>