<div #deckComponent id="deckComponent" style="flex: 1; display: flex; flex-direction: row; height: 100%;" (mouseup)="onMouseup()">

  <div id="trunkContainer" class="card-container trunk wrapper">
    <div id="card-grid" style="width: 100%; font-size: 0px;" class='container' [dragula]='"dirt-bag"' [dragulaModel]='trunk$'>
      <div class="app-card-container" style="display:inline-block;" [style.height]="cardHeight$" [style.width]="cardWidth$" *ngFor="let card of trunk$">
        <app-card [card$]="card"></app-card>
      </div>
    </div>
  </div>

  <div style="cursor: w-resize; height: 100%; width: 12px; background-color: #363636; margin: 0px 2px;"
  (mousedown)="onMousedown($event)">
   
  </div>

  <div id="deckContainer" class="card-container deck wrapper">
    <div style="width: 100%; font-size: 0px;" class='container' [dragula]='"dirt-bag"' [dragulaModel]='deck$'>
      <div class="app-card-container" style="display:inline-block;" [style.height]="cardHeight$" [style.width]="cardWidth$" *ngFor="let card of deck$">
        <app-card [card$]="card"></app-card>
      </div>
    </div>
  </div>

</div>