<div class="main-div">
  <div style="height: 200px; background-color: #FFDB58;">

  </div>

  <div class="button-container" style="flex: 1;">

    <a [routerLink]="['/cards']">
      <button mat-button class="sidenav">
        <i class="material-icons">crop_portrait</i>
        <span>Cards</span>
      </button>

    </a>
    <button mat-button class="sidenav">
      <i class="material-icons">crop_portrait</i>
      <span>Card</span>
    </button>
    <button mat-button>
      <i class="material-icons">content_copy</i>
      <span>Deck</span>
    </button>
  </div>

  <div class="button-container" style="bottom: 0px;">
    <button mat-button>
      <i class="material-icons">settings</i>
      <span>Settings</span>
    </button>
  </div>
</div>