/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~dragula/dist/dragula.css";


div.router-outlet{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.router-outlet > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}